title PP Board - About
link(rel="icon" href="icon.png")
style
    include default.css
    include normallist.css

h1 Info

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav') 
            a(href='/', class='nav')= "Leaderboard"
        li(class='nav', ) 
            a(href='/whitelist?page=1', class='nav')= "Whitelist"
        li(class='nav') 
            a(href='/toppp', class='nav')= "Top PP"
        li(class='nav') 
            a(href='/about', class='active', class='nav')= "About / Donation"

hr

p= "Elaina osu!droid PP Project"
|
|
p= "Made by -Nero Yuki-"
|
|
p= "This is one of my fun project for our small osu!droid discord community. If you like it consider to support this poor college student uwu"
|
|
h4
    a(href='https://paypal.me/NguyenNgocDang', id='rcorners2')= "Donation Here (Paypal only)"
|
|
p= "You can PM me through Discord (-Nero Yuki-#7193) if you want to donate with different mean"
|
|
h5= "Benefits"
ul
    li= "Actually, there is none lol, but it helps me, and i will put a list of donor here i guess XD"
    li= "I don't know lol"
|
|
p= "Donor List"
|
|
ul
    li= "Tsukushi - 1.32$ - Thanks Replay Uploader uwu"
    li= "Megastore - 4.00$ - Thank brolex bruh"
    li= "ArtX - 9.99$ - owo I love you owo"
    li= "Rian8337 - 180000rp (12.64$) in Steam Wallet - I can have more game now owowo"
    li= "quantumvortex - 14.00$ in Steam Items - Thanks map validator for even more game owo"
    li= "Veno - 15.00$ - <3 <3 <3, no homo :3"
    li= "Imagine Blaze - 7.77$ - much appreciated man owo
