style
    include nav.css
    include default.css

h1 Info

h3
    ul
        li 
            a= "Menu"
        li 
            a(href='/')= "Leaderboard"
        li 
            a(href='/whitelist?page=1')= "Whitelist"
        li 
            a(href='/about', class='active')= "About"

hr

p= "Elaina osu!droid PP Project"
|
|
p= "Made by -Nero Yuki-"