h1 Info

h3
    a= "Menu: "
    a(href='/')= " | Leaderboard | "
    a(href='/whitelist?page=1')= " | Whitelist | "
    a(href='/about')= " | About | "

hr

p= "Elaina osu!droid PP Project"
|
|
p= "Made by -Nero Yuki-"