h1 #{title}

table(border="1")
    tbody
        tr
            td= "No."
            td= "UID"
            td= "Discord ID"
            td= "Play Count"
            td= "PP"
        each val, index in list
            tr
                td= index+1
                td= val.uid
                td= val.discordid
                td= val.playc
                td= val.pptotal
    
