title PP Board
link(rel="icon" href="/favicon.ico")
style
    include table.css
    include nav.css
    include default.css

h1 #{title}

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/', class='active',class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav')= "Top PP"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"

hr

table(width="100%")
    tbody
        th(width="5%")= "No."
        th(width="10%")= "UID"
        th(width="63%")= "Username"
        th(width="10%")= "Play Count"
        th(width="12%")= "PP"
        each val, index in list
            tr
                td= (page-1)*50+index+1
                td= val.uid
                td
                    a(href='/profile?uid='+val.uid)= val.username
                td= val.playc
                td= val.pptotal

hr
    
div
    ul(class="pagerow")
        li(class="nav")
            a(href='/?page=' + (page-1) , class="pagenav")= "<<< Prev Page"
        li(class="nav")
            a(class="pagecount")= " Page: " + page
        li(class="nav")
            a(href='/?page=' + (page+1) , class="pagenav")= "Next Page >>>"
