title PP Board
style
    include table.css
    include nav.css
    include default.css

h1 #{title}

h3
    ul
        li 
            a= "Menu"
        li 
            a(href='/', class='active')= "Leaderboard"
        li 
            a(href='/whitelist?page=1')= "Whitelist"
        li 
            a(href='/toppp')= "Top PP"
        li 
            a(href='/about')= "About / Donation"

hr

table(width="100%")
    tbody
        th(width="5%")= "No."
        th(width="10%")= "UID"
        th(width="63%")= "Username"
        th(width="10%")= "Play Count"
        th(width="12%")= "PP"
        each val, index in list
            tr
                td= (page-1)*50+index+1
                td= val.uid
                td
                    a(href='/profile?uid='+val.uid)= val.username
                td= val.playc
                td= val.pptotal

hr
    
div
    ul(class="pagerow")
        li
            a(href='/?page='+(page-1), class="pagenav")= "<<< Prev Page"
        li
            a(class="pagecount")= " Page: " + page
        li
            a(href='/?page='+(page+1), class="pagenav")= "Next Page >>>"
