h1 #{title}

table(border="1")
    tbody
        th(width="40")= "No."
        th(width="70")= "UID"
        th(width="150")= "Username"
        th(width="90")= "Play Count"
        th(width="90")= "PP"
        each val, index in list
            tr
                td= index+1
                td= val.uid
                td
                    a(href='/profile?uid='+val.uid)= val.username
                td= val.playc
                td= val.pptotal
    
