title PP Board - #{username}
style
    include nav.css
    include default.css
    include ppentry.css

h1 #{title}

h3
    ul
        li 
            a= "Menu"
        li 
            a(href='/')= "Leaderboard"
        li 
            a(href='/whitelist?page=1')= "Whitelist"
        li 
            a(href='/toppp')= "Top PP"
        li 
            a(href='/about')= "About / Donation"

hr

h2 Username: #{username}

h3 Total PP: #{pptotal}

ul(type="None", class='ppentry')
    each val, index in entries
        li(class='ppentry')
            b= (index+1)
                =". " + val[1]
        li(class='ppentry2nd')= "-> Raw PP: " 
            b= val[2]
                small= " (Net pp: " + (val[2]*(Math.pow(0.95,index))).toFixed(2) + ")"
