title PP Board - #{username}
link(rel="icon" href="icon.png")
style
    include nav.css
    include default.css
    include ppentry.css

h1 #{title}

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/', class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav')= "Top PP"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"

hr

h2 Username: #{username}

h3 Total PP: #{pptotal}

ul(type="None", class='ppentry')
    each val, index in entries
        li(class='ppentry')
            b= (index+1)
                =". " + val.title
                if val.mods
                  = " +" + val.mods
                  
        li(class='ppentry2nd')= "-> Raw PP: " 
            b= val.pp
                small= " (Net pp: " + (val.pp*(Math.pow(0.95,index))).toFixed(2) + ")"
