title PP Board - Top PP
link(rel="icon" href="/favicon.ico")
style
    include table.css
    include nav.css
    include default.css

h1 Top PP Play

h3
    ul(class='nav')
        li(class='nav')
            a(class='nav')= "Menu"
        li(class='nav')
            a(href='/',class='nav')= "Leaderboard"
        li(class='nav')
            a(href='/whitelist?page=1',class='nav')= "Whitelist"
        li(class='nav')
            a(href='/toppp',class='nav', class='active')= "Top PP"
        li(class='nav')
            a(href='/about',class='nav')= "About / Donation"

hr

table(width="100%")
    tbody
        th(width="3%")= "No."
        th(width="11%")= "Username"
        th(width="67%")= "Map Name (Difficulty) + Mod"
        th(width="7%")= "Raw PP"
        th(width="5%")= "Combo"
        th(width="5%")= "Accuracy"
        th(width="5%")= "Misses"
        each val, index in pplist
            tr
                td= index+1
                td= val.username
                td= val.map
                td= val.rawpp
                td= val.combo
                td= val.acc_percent
                td= val.miss_c

hr

p= "Top pp will be updated once each 30 minutes"
