style
    include table.css
    include nav.css
    include default.css

h1 #{title}

h3
    ul
        li 
            a= "Menu"
        li 
            a(href='/')= "Leaderboard"
        li 
            a(href='/whitelist?page=1', class='active')= "Whitelist"
        li 
            a(href='/about')= "About"

div
    ul(class="pagerow")
        li
            a(href='/whitelist?page='+(page-1), class="pagenav")= "<<< Prev Page"
        li
            a(class="pagecount")= " Page: " + page
        li
            a(href='/whitelist?page='+(page+1), class="pagenav")= "Next Page >>>"

hr

table(border="0", width="100%")
    tbody
        th(width="10%")= "Map ID"
        th(width="80%")= "Map Name"
        th(width="10%")= "osu! redirect"
        each val in list
            tr
                td= val.mapid
                td= val.mapname
                td
                    a(href='https://osu.ppy.sh/b/'+val.mapid)= "Link"

hr

div
    ul(class="pagerow")
        li
            a(href='/whitelist?page='+(page-1), class="pagenav")= "<<< Prev Page"
        li
            a(class="pagecount")= " Page: " + page
        li
            a(href='/whitelist?page='+(page+1), class="pagenav")= "Next Page >>>"


